.container {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 10px;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--primary-teal);
    padding: 20px;
    width: 45%;
    border-radius: 20px;
}

.filterLabel {
    margin-bottom: 8px;
    font-size: 18px;
    color: var(--primary-white);
}

.filterInput {
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    padding-block: 8px;
    margin-bottom: 10px;
}

.filterInput:focus {
    outline: 2px solid var(--primary-pink-light);
}