@import "../../styles/variables.css";


.container {
    display: flex;
    margin: 0 auto;
    background-color: var(--primary-teal);
    padding: 20px;
    justify-content: center;
    max-width: 400px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 95%;
    
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    color: var(--primary-white);
}

.input {
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    padding-block: 8px;
    margin-bottom: 10px;
}

.input:focus {
    outline: 2px solid var(--primary-pink-light);
}

.button {
    margin-block: 5px;
    border-radius: 5px;
    background-color: var(--primary-pink);
    padding: 5px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: var(--primary-white);
    width: 100%;
    justify-content: center;
}