.container {
    height: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    background-color: var(--primary-bgr);
}