.container {
    margin: 0 auto;
    padding: 20px;
    width: 45%;
}

.contactListItem {
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
}

.contactListItemBtn {
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    border-radius: 4px;
}

.contactListItemBtn:hover {
    background-color: #f34079;
    cursor: pointer;
}