@import "../../styles/variables.css";

.navUser {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userName {
    font-weight: bold;
    color:var(--primary-pink);
}

.button {
    align-items: center;
    margin-left: 10px;
    /* margin-block: 5px; */
    border-radius: 5px;
    /* background-color: rgb(146, 81, 149); */
    background-color: var(--primary-teal);
    padding: 5px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: white;
}

.button:hover{
    background-color: var(--primary-pink);
}