.navUser {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userName {

}

.button {
    align-items: center;
    margin-left: 10px;
    /* margin-block: 5px; */
    border-radius: 5px;
    /* background-color: rgb(146, 81, 149); */
    background-color: #f34079;
    padding: 5px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    color: white;
    /* width: 100%; */
    /* justify-content: center; */
}